<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
    <div class="head">
        <h1>To-Do List</h1>
        <div style="display: flex; align-items: center;">
            <h3>User</h3>
            <a href="{% url 'logout' %}" style="text-decoration: none; color: red;">
                Log out
            </a>
        </div>
    </div>

    <div class="task-add">
        <form id="task-form" method="post">
            {% csrf_token %}
            <div class="form1">
                <input type="text" name="title" placeholder="Add Title..." required>
                <input type="date" name="deadline">
                <select name="status">
                    <option class="opt">
                        to do
                    </option>
                    <option class="opt">
                        in progress
                    </option>
                    <option class="opt">
                        done
                    </option>
                </select>
            </div>
            <div class="fomr1">
                <input type="text" name="details" placeholder="Details ...">
                <button type="submit" class="btn">Add Task</button>
            </div>
        </form>
    </div>
    <hr style="margin: 10px 5px;">
    {% for task in tasks %}
    <div class="task">
        <ul id="task-list">
            <li>
                <div>
                    {{ task.title }}
                </div>
                <div>
                    <input type="text" value="{{ task.status }}" readonly
                           style="background-color: {% if task.status == 'to do' %} lightgrey {% elif task.status == 'in progress' %} lightblue {% endif %}">
                    <input type="date" value="{{ task.deadline|date:'Y-m-d' }}" readonly>
                    <button type="submit" class="edit"><a href="{{ task.id }}/edit/">Edit</a></button>
                    <button type="submit" class="delete"><a href="{{ task.id }}/delete/">Delete</a></button>
                </div>
            </li>
        </ul>
        {% if task.details %}
        <ul class="details">
            {{ task.details }}
        </ul>
        {% endif %}
    </div>
    {% endfor %}

    {% for task in dones %}
    <div class="task">
        <ul id="task-list">
            <li>
                <div>
                    {{ task.title }}
                </div>
                <div>
                    <input type="text" value="{{ task.status }}" readonly
                           style="background-color: lightgreen">
                    <input type="date" value="{{ task.deadline|date:'Y-m-d' }}" readonly>
                    <button type="submit" class="edit"><a href="{{ task.id }}/edit/">Edit</a></button>
                    <button type="submit" class="delete"><a href="{{ task.id }}/delete/">Delete</a></button>
                </div>
            </li>
        </ul>
        {% if task.details %}
        <ul class="details">
            {{ task.details }}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>
</body>
</html>